[submodule "PHP-Malware-Collection"]
	path = PHP-Malware-Collection
	url = https://github.com/marcocesarato/PHP-Malware-Collection
[submodule "malware/PHP-Malware-Collection"]
	path = malware/PHP-Malware-Collection
	url = https://github.com/marcocesarato/PHP-Malware-Collection
[submodule "malware/php-malicious-sample"]
	path = malware/php-malicious-sample
	url = https://github.com/Te-k/php-malicious-sample
[submodule "malware/shell-backdoor-list"]
	path = malware/shell-backdoor-list
	url = https://github.com/backdoorhub/shell-backdoor-list
[submodule "malware/wordpress-malware"]
	path = malware/wordpress-malware
	url = https://github.com/stefanpejcic/wordpress-malware
